<div class="header bg-gradient-danger pb-6 pt-2 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">{{tittle}}</h3>
        </div>
        <div class="table-responsive-md" *ngIf="isShowTable">
          <table class="table table-bordered table-sm row-border table-hover">
            <thead>
              <tr>
                <th>No Pengaduan</th>
                <th>Nama Pelapor</th>
                <th>Polres</th>
                <th>Kategori</th>
                <th>Tgl Kontak</th>
                <th>Durasi<BR> Penanganan</th>
                <th>Status</th>
                <th>Creator</th>
              </tr>
            </thead>
            <tbody>
              <!-- {{data}} -->

              <tr *ngFor="let zz of data" (click)="showDetails(zz)">
                <td>{{zz.no_pengaduan}}</td>
                <td>{{zz.nama_pelapor}}</td>
                <td>{{zz.satwil_id}}</td>
                <td>{{zz.sub_kategori_id}}</td>
                <td>{{zz.tgl_kontak | date: 'EEEE, d MMMM y'}}</td>
                <td>{{zz.nama_pelapor}}</td>
                <td>{{zz.status}}</td>
                <td>{{zz.nama_pelapor}}</td>

              </tr>
            </tbody>
          </table>
        </div>
        

        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
        <div class="container-fluid" *ngIf="isShowDetalis">
          <div class="row">
            <div class="col">
              {{idworkorder}}<br>
              {{nama_pelapor}}<br>
              {{no_pengaduan}}<br>
              {{satwil_id}}<br>
              {{status}}<br>
              {{sub_kategori_id}}<br>
              {{tgl_close}}<br>
              {{tgl_kontak}}<br>
              
              <button class="btn btn-primary btn-block" (click)="backToTable()">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>