<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card shadow mt-4 border-1">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">DHECYBER CONTACT CENTER LICENSING</h3>
            <h4 class="card-title">LICENSING SUPERADMIN</h4>
            <h5 class="card-title">Korlantas Polri - License #</h5>
            <p class="card-text">873527d0546b7f13a9230d41bc0d5f06</p>
            <p class="card-text">Expired At 31 December 2021 23:59:00</p>           
          </div>
        </div>        
      </div>
  </div>
</div>
</div>