<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-gradient-darker">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow border border-dark mx--4">
        <div class="card-header bg-dark text-light px-4 py-2">
          <div class="row" [class.hidden]="isShowHeader">
            <div class="col-6 col-md-9">
                <!-- <a href="#/laporan-add" class="btn btn-primary">
                  Tambah Laporan
                </a> -->
                <h2 class="mb-0 text-light">Laporan Giat</h2>
            </div>
            <div class="col-6 col-md-3">
              <form>
                <div class="form-group float-end" >
                  <input placeholder="NO PENGADUAN/ NAMA" class="form-control form-control-sm form-control-success" type="text" [(ngModel)]="filterTerm"/>
                </div>
              </form>
            </div>
          </div> 
          <div class="row" [class.hidden]="isShowBack">
            <div class="col-12">
            <button class="btn btn-primary btn-block col-4 col-lg-1" (click)="backToTable()">Back</button>
            </div>
          </div>         
        </div>
        <div class="table-responsive" [class.hidden]="isShowTable" id="pdfTable">
        <!-- <div class="table-responsive" [class.hidden]="isShowTable" id="pdfTable" #pdfTable> -->
           <table class="table table-sm row-border table-hover bg-light">
            <thead class="table-dark">
              <tr>
                <th class="px-md-2">No</th>
                <th class="px-md-2">No Laporan</th>
                <th class="px-md-2">Tgl Laporan</th>
                <th class="px-md-2">Region</th>
                <th class="px-md-2">Department</th>
                <th class="px-md-2">Kategori</th>
                <th class="px-md-2">Keterangan</th>
                <th class="px-md-2" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr title="CLICK FOR DETAILS..." *ngFor="let zz of workorders | filter: filterTerm | slice: (page-1) * pageSize : page * pageSize; index as i">
                <td class="px-md-2">{{i+1}}</td>
                <td class="px-md-2">{{zz.no_laporan}}</td>
                <td class="px-md-2">{{zz.tgl_laporan | date: 'EEEE, d MMMM y'}}</td>
                <td class="px-md-2">{{zz.region_name}}</td>
                <td class="px-md-2">{{zz.department_name}}</td>
                <td class="px-md-2">{{zz.sub_kategori}}</td>
                <td class="px-md-2" style="white-space: normal;">{{zz.laporan_text}}</td>
                <td class="px-md-2"><i class="fa fa-list-alt text-danger pointer" title="Details" (click)="open(zz, mymodal)"></i></td>
              </tr>
            </tbody>
          </table>
          <!-- <button class="btn btn-primary btn-sm float-right mt-2" (click)="downloadAsPDF();">Export To PDF</button> -->
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center mt-4"></ngb-pagination>
        </div>


      <!-- Modal Details -->
      <ng-template #mymodal let-modal>   
        <div class="border-dark modal-xl">
        <div class="modal-header bg-dark text-white">
          <h4 class="modal-title text-white" id="modal-basic-title">Laporan Giat No. {{laporanDetails.no_laporan}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span class="text-white" aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body container-fluid">
          <div class="row mx--4">
            <div class="col">
              <div class="row">
                <div class="col-lg-6 mb-2">
                <div class="card shadow table-hover my-4 border border-dark">
                  <div class="card-header bg-dark border">
                    <div class="row">
                      <h3 class="mb-0 text-light">Detail Laporan</h3>
                    </div>         
                  </div>
                  <div class="card-body">                      
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>No Laporan</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.no_laporan}}
                      </div>
                    </div> 
                    <div class="row py-2">
                      <div class="col">
                        <h4>Region</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.region_name}}
                      </div>
                    </div> 
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>Department</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.department_name}}
                      </div>
                    </div> 
                    <div class="row py-2">
                      <div class="col">
                        <h4>Kategori</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.sub_kategori}}
                      </div>
                    </div>                                  
                    <div class="row py-2">
                      <div class="col">
                        <h4>Tanggal Laporan</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.tgl_laporan | date: 'EEEE, d MMMM y'}}
                      </div>
                    </div>            
                    <div class="row py-2">
                      <div class="col">
                        <h4>Keterangan</h4>
                      </div>
                      <div class="col">
                        {{laporanDetails.laporan_text}}
                      </div>
                    </div>          
                  </div>
                </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="card shadow table-hover my-4 border border-dark">
                    <div id="map-canvas" class="map-canvas px-0" data-lat="{{laporanDetails.lat_pelapor}}" data-lng="{{laporanDetails.long_pelapor}}" style="height: 320px;"></div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      </ng-template>
      <!-- End Modal Details -->
    </div>
  </div>
</div>