  <div class="header bg-gradient-teal pb-5 pt-5 pt-md-8">
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow mx--4">
          <div class="card-header border-0 mb--4">
            <div class="row">
              <div class="col-6 col-md-9"><h3 class="mb-0">Tambah Pengaduan Baru</h3></div>
            </div>         
          </div>
 
          <div class="container-fluid card shadow py-4 border-1 my-4">
            <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="col-md-6">
                <label class="form-label">No Pengaduan</label>
                <input type="number" class="form-control" formControlName="noPengaduan" placeholder="" disabled>

                <label class="form-label mt-2">Nama Pelapor</label>
                <input type="text" class="form-control" formControlName="namaPelapor" [ngClass]="{ 'is-invalid': submitted && f.namaPelapor.errors }">
                <div *ngIf="submitted && f.namaPelapor.errors" class="invalid-feedback">
                  <div *ngIf="f.namaPelapor.errors.required">Nama Pelapor is required</div>
                  <div *ngIf="f.namaPelapor.errors.minlength">
                    Nama Pelapor must be at least 3 characters
                  </div>
                  <div *ngIf="f.namaPelapor.errors.maxlength">
                    Nama Pelapor must not exceed 20 characters
                  </div>
                </div>

                <label class="form-label mt-2">Telpon Pelapor</label>
                <input type="number" class="form-control" formControlName="telponPelapor" [ngClass]="{ 'is-invalid': submitted && f.namaPelapor.errors }">
                <div *ngIf="submitted && f.telponPelapor.errors" class="invalid-feedback">
                  <div *ngIf="f.telponPelapor.errors.required">Telpon Pelapor is required</div>
                  <div *ngIf="f.telponPelapor.errors.minlength">
                    Telpon Pelapor must be at least 9 characters
                  </div>
                </div>

                <label class="form-label mt-2">Kategori</label>
                <select formControlName="kategori" class="form-select form-control">
                  <option value="1" selected>Non Pengaduan</option>
                  <option value="2">Pengaduan</option>
                </select>

                <label class="form-label mt-2">Jenis Laporan</label>
                <select formControlName="jenisLaporan" class="form-select form-control">
                  <option value="1" selected>Lalu LIntas</option>
                  <option value="2">Lain-lain</option>
                </select>

                <label class="form-label mt-2">Isi Pengaduan</label>
                <textarea class="form-control mb-2" formControlName="isiPengaduan" rows="3" [ngClass]="{ 'is-invalid': submitted && f.isiPengaduan.errors }"></textarea> 
                <div *ngIf="submitted && f.isiPengaduan.errors" class="invalid-feedback">
                  <div *ngIf="f.isiPengaduan.errors.required">Isi Pengaduan is required</div>
                  <div *ngIf="f.isiPengaduan.errors.minlength">
                    Isi Pengaduan must be at least 10 characters
                  </div>
                </div>
                
              </div>
              <div class="col-md-6">
                <label class="form-label">Lokasi Kejadian</label>
                <input ngx-google-places-autocomplete class="form-control" formControlName="lokasiKejadian" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': submitted && f.lokasiKejadian.errors }">   
                <input class="form-control" formControlName="lat" [ngModel]="userLatitude" hidden>    
                <input class="form-control" formControlName="lang" [ngModel]="userLongitude" hidden>    
                <div *ngIf="submitted && f.lokasiKejadian.errors" class="invalid-feedback">
                  <div *ngIf="f.lokasiKejadian.errors.required">Isi Pengaduan is required</div>
                </div>         
                <div id="map-canvas" class="map-canvas" data-lat="0.7893" data-lng="113.9213" style="height: 400px;"></div>            
              </div>            
              <div class="col-12 card-footer">
                <button type="submit" class="btn btn-primary mt-2">Simpan Laporan</button>
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>