<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-gradient-darker">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow border border-dark mx--4">
        <div class="card-header bg-dark text-light px-4 py-2">
          <div class="row" [class.hidden]="isShowHeader">
            <div class="col-6 col-md-9">
                <!-- <a href="#/laporan-add" class="btn btn-primary">
                  Tambah Laporan
                </a> -->
                <h2 class="mb-0 text-light">Laporan Published</h2>
            </div>
            <div class="col-6 col-md-3">
              <form>
                <div class="form-group float-end" >
                  <input placeholder="NO PENGADUAN/ NAMA" class="form-control form-control-sm form-control-success" type="text" [(ngModel)]="filterTerm"/>
                </div>
              </form>
            </div>
          </div> 
          <div class="row" [class.hidden]="isShowBack">
            <div class="col-12">
            <button class="btn btn-primary btn-block col-4 col-lg-1" (click)="backToTable()">Back</button>
            </div>
          </div>         
        </div>
        <div class="table-responsive" [class.hidden]="isShowTable" id="pdfTable">
        <!-- <div class="table-responsive" [class.hidden]="isShowTable" id="pdfTable" #pdfTable> -->
           <table class="table table-sm row-border table-hover">
            <thead class="table-dark">
              <tr>
                <th class="px-md-2">No</th>
                <th class="px-md-2">No Laporan</th>
                <th class="px-md-2">Date Submitted</th>
                <th class="px-md-2">Date Approved</th>
                <th class="px-md-2">Approved By</th>
                <th class="px-md-2">Status</th>
                <th class="px-md-2" colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr title="CLICK FOR DETAILS..." *ngFor="let zz of workorders | filter: filterTerm | slice: (page-1) * pageSize : page * pageSize; index as i">
                <td class="px-md-2">{{i+1}}</td>
                <td class="px-md-2">{{zz.no_laporan}}</td>
                <td class="px-md-2">{{zz.date_submitted | date: 'EEEE, d MMMM y'}}</td>
                <td class="px-md-2">{{zz.date_approved | date: 'EEEE, d MMMM y'}}</td>
                <td class="px-md-2" style="white-space: normal;">{{zz.username}}</td>
                <td class="px-md-2" style="white-space: normal;">{{zz.status}}</td>
                <td class="px-md-2"><i class="fa fa-list-alt text-danger pointer" title="Review" (click)="review(zz, mymodal)"></i></td>
                <td class="px-md-2"><i class="fa fa-check-square text-danger pointer" title="Approve" (click)="approve(zz)"></i></td>
              </tr>
            </tbody>
          </table>
          <!-- <button class="btn btn-primary btn-sm float-right mt-2" (click)="downloadAsPDF();">Export To PDF</button> -->
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center mt-4"></ngb-pagination>
        </div>
        <ng-template #mymodal let-modal>   
          <div class="modal-xl">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Laporan Published No. {{published[0].no_laporan}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body my-2" style="width:100%;overflow-x:scroll;font-family: 'Arial Narrow', Arial, sans-serif;">
            <div class="row">
              <div class="col-3">
                <p class="text-center" style="line-height:150%;">
                  KORPS BRIMOB POLRI<br style="height:5pt;">
                  BAGIAN OPERASI
                </p>                
              </div>
              <div class="col-9">
                <p class="text-center font-weight-bold">
                  <U>LAPORAN HARIAN SITKAMTIBMAS TANGGAL {{tglLaporan | date}}</U>
                </p>
              </div>
            </div>
            <table class="table table-sm table-bordered table-hover">
                <tr>
                  <th>No</th>
                  <th>Kesatuan</th>
                  <th class="px-md-2" *ngFor="let th of published">{{th.name}}</th>
                  
                </tr>
                <tr>
                  <td>1</td>
                  <td class="px-md-2" *ngFor="let regions of region">{{regions.region_name}}</td>
                  <td class="px-md-2" *ngFor="let th of published">{{th.laporan_total}}</td>
                </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
          </div>
        </div>
        </ng-template>
        
        <div class="modal-body my-2" style="width:100%;overflow-x:scroll;font-family: 'Arial Narrow', Arial, sans-serif;" #pdfTable id="pdfTable" hidden>
          <div class="row">
            <div class="col-3">
              <p class="text-center" style="line-height:150%;">
                KORPS BRIMOB POLRI<br style="height:5pt;">
                BAGIAN OPERASI
              </p>                
            </div>
            <div class="col-9">
              <p class="text-center font-weight-bold">
                <U>LAPORAN HARIAN SITKAMTIBMAS TANGGAL 30 MEI 2022</U>
              </p>
            </div>
          </div>
          <table class="table table-sm table-bordered table-hover">
              <tr>
                <th>No</th>
                <th class="px-md-2" *ngFor="let th of published">{{th.name}}</th>
              </tr>
              <tr>
                <td>1</td>
                <td class="px-md-2" *ngFor="let th of published">{{th.laporan_total}}</td>
              </tr>
          </table>
        </div>

        <!-- Details page  -->
        <div class="container-fluid" [class.hidden]="isShowDetalis">
          <div class="row mx--4">
            <div class="col">
              <div class="row">

                <div class="col-lg-6 mb-2">
                <div class="card shadow table-hover my-4 border border-dark">
                  <div class="card-header bg-dark border">
                    <div class="row">
                      <h3 class="mb-0 text-light">Detail Laporan</h3>
                    </div>         
                  </div>
                  <div class="card-body">                      
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>No Laporan</h4>
                      </div>
                      <div class="col">
                        {{no_laporan}}
                      </div>
                    </div> 
                    <div class="row py-2">
                      <div class="col">
                        <h4>Nama Pelapor</h4>
                      </div>
                      <div class="col">
                        {{nama}}
                      </div>
                    </div> 
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>Position</h4>
                      </div>
                      <div class="col">
                        {{position_name}}
                      </div>
                    </div> 
                    <div class="row py-2">
                      <div class="col">
                        <h4>Kategori</h4>
                      </div>
                      <div class="col">
                        {{sub_kategori}}
                      </div>
                    </div> 
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>Status</h4>
                      </div>
                      <div class="col">
                        {{keterangan}}
                      </div>
                    </div>                                   
                    <div class="row py-2">
                      <div class="col">
                        <h4>Tanggal Submit</h4>
                      </div>
                      <div class="col">
                        {{tgl_submitted | date: 'EEEE, d MMMM y'}}
                      </div>
                    </div>            
                    <div class="row py-2 divcol">
                      <div class="col">
                        <h4>Tanggal Approve</h4>
                      </div>
                      <div class="col">
                        {{tgl_approved | date: 'EEEE, d MMMM y'}}
                      </div>
                    </div>   
                    <div class="row py-2">
                      <div class="col">
                        <h4>Laporan</h4>
                      </div>
                      <div class="col">
                        {{laporan}}
                      </div>
                    </div>          
                  </div>
                </div>
                </div>

                <div class="col-lg-6 mb-2">
                  <div class="card shadow table-hover my-4 border border-dark">
                    <div id="map-canvas" class="map-canvas px-0" data-lat="0.7893" data-lng="113.9213" style="height: 320px;"></div>
                  </div>
                </div>
                 
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>