  <div class="header bg-gradient-teal pb-5 pt-5 pt-md-8">
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow border border-dark mx--4">
          <div class="card-header bg-dark text-light mb--4 py-2">
            <div class="row">
              <div class="col-6 col-md-9"><h3 class="mb-0 text-light">Tambah Laporan</h3></div>
            </div>         
          </div>
 
          <div class="card-body">
            <form class="row pt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="col-md-6">
                <label class="form-label mt-2">No Laporan</label>
                <input type="text" class="form-control" formControlName="no_laporan" [ngClass]="{ 'is-invalid': submitted && f.no_laporan.errors }">
                <div *ngIf="submitted && f.no_laporan.errors" class="invalid-feedback">
                  <div *ngIf="f.no_laporan.errors.required">Nomor Laporan is required</div>
                </div>
                
                <label class="form-label mt-2">Kategori</label>
                <select formControlName="sub_kategori_id" class="form-select form-control" [ngModel]="1">
                  <option *ngFor="let pos of kategori" value="{{pos.idsubkategori}}" selected>{{pos.sub_kategori}}</option>
                </select>

                <label class="form-label mt-2">Laporan</label>
                <textarea class="form-control mb-2" formControlName="laporan_text" rows="3" [ngClass]="{ 'is-invalid': submitted && f.laporan_text.errors }"></textarea> 
                <div *ngIf="submitted && f.laporan_text.errors" class="invalid-feedback">
                  <div *ngIf="f.laporan_text.errors.required">Isi Laporan is required</div>
                  <div *ngIf="f.laporan_text.errors.minlength">
                    Isi Laporan must be at least 10 characters
                  </div>
                </div>
                
              </div>
              <div class="col-md-6">
                <label class="form-label">Lokasi Laporan</label>
                <input ngx-google-places-autocomplete class="form-control" formControlName="lokasiLaporan" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': submitted && f.lokasiLaporan.errors }">   
                <input class="form-control" formControlName="lat_pelapor" [ngModel]="userLatitude" hidden>    
                <input class="form-control" formControlName="long_pelapor" [ngModel]="userLongitude" hidden>    
                <div *ngIf="submitted && f.lokasiLaporan.errors" class="invalid-feedback">
                  <div *ngIf="f.lokasiLaporan.errors.required">Isi Pengaduan is required</div>
                </div>         
                <div id="map-canvas" class="map-canvas" data-lat="0.7893" data-lng="113.9213" style="height: 220px;"></div>            
              </div>            
              <div class="col-12 card-footer py-2">
                <button type="submit" class="btn btn-primary">Simpan Laporan</button>
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>