  <div class="header bg-gradient-gray pb-5 pt-5 pt-md-8">
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow mt-2">
          <div class="container-fluid">
            <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="col-lg-6">
                <div class="card shadow px-4 my-4">
                <div class="card-header border-1">
                  <div class="row">
                    <h3 class="mb-0">Tambah User</h3>
                  </div>         
                </div>
                <label class="form-label">Username</label>
                <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                  <div *ngIf="f.username.errors.minlength">
                    Username must be at least 3 characters
                  </div>
                  <div *ngIf="f.username.errors.maxlength">
                    Username must not exceed 20 characters
                  </div>
                </div>

                <label class="form-label mt-2">Password</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">
                    Password must be at least 3 characters
                  </div>
                  <div *ngIf="f.password.errors.maxlength">
                    Password must not exceed 20 characters
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <label class="form-label mt-2">Polda</label>
                    <select formControlName="polda" class="form-select form-control">
                      <option value="1" selected>Non Pengaduan</option>
                      <option value="2">Pengaduan</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="form-label mt-2">Satwil</label>
                    <select formControlName="satwil" class="form-select form-control">
                      <option value="1" selected>Lalu LIntas</option>
                      <option value="2">Lain-lain</option>
                    </select>
                  </div>
                </div>

                <label class="form-label mt-2">Type</label>
                <select formControlName="level_user" class="form-select form-control">
                  <option value="user" selected>User</option>
                  <option value="callcenter">Call Center</option>
                </select>
                <div class="col-12 my-4">
                  <button type="submit" class="btn btn-primary">Simpan</button>
                  <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
                </div>
              </div>
              </div>
              <div class="col-lg-6 ">
                <div class="card shadow px-2 my-4">
                  <div class="card-header border-1">
                    <div class="row">
                      <div class="col-6 col-md-6"><h3 class="mb-0">List User</h3></div>
                      <div class="col-6 col-md-6">
                        <form>
                          <div class="form-group float-end" >
                            <input placeholder="USERNAME" class="form-control form-control-sm form-control-success" type="text" [(ngModel)]="filterTerm"/>
                          </div>
                        </form>
                      </div>
                    </div>         
                  </div>
                  <div class="table-responsive">
                     <table class="table table-sm row-border table-hover">
                      <thead class="table-dark">
                        <tr>
                          <th class="px-md-2">Username</th>
                          <th class="px-md-2">polda</th>
                          <th class="px-md-2">satwil</th>
                          <th class="px-md-2"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let zz of workorders | filter: filterTerm | slice: (page-1) * pageSize : page * pageSize; index as i" (click)="showDetails(zz)">
                          <td class="px-md-2" style="white-space: normal;">{{zz.nama_pelapor}}</td>
                          <td class="px-md-2" style="white-space: normal;width:200px;">{{zz.satwil}}</td>
                          <td class="px-md-2" style="white-space: normal;">{{zz.sub_kategori}}</td>
                          <td class="px-md-2">{{zz.tgl_kontak | date: 'EEEE, d MMMM y'}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
              [pageSize]="pageSize" class="d-flex justify-content-center mt-4"></ngb-pagination>
                  </div>
              
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>