<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand py-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/ntmc.png" style="max-height: 100px;" class="" alt="...">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <!-- <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55"></i>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/brand/favicon.png">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>
              {{ level_user }}<br>
              polda {{ polda }}.<br>
              satwil {{ satwil }}.
            </span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <!-- <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a> -->
          <div class="dropdown-divider"></div>
          <a href (click)="logout()" class="dropdown-item" >
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/ntmc.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLinkActive="active" routerLink='/dashboard' class="nav-link">
                  <i class="ni ni-tv-2 text-primary"></i>
                  Dashboard
              </a>
          </li>
          <li class="nav-item">
              <a routerLinkActive="active" routerLink='/chart' class="nav-link">
                  <i class="ni ni-chart-pie-35 text-success"></i>
                  Chart
              </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/workorder' class="nav-link">
                <i class="ni ni-books text-orange"></i>
                Workorder
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/callcenter' class="nav-link">
                <i class="ni ni-headphones text-primary"></i>
                Call Center
            </a>
          </li>
          <li class="nav-item nav-with-child">
            <a class="nav-link"  >
              <i class="ni ni-single-02 text-danger"></i> Superadmin
            </a>
            <ul class="nav-item-child">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink='/user-add' class="nav-link">
                  User
                </a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink='/user-add' class="nav-link">
                  Instansi
                </a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink='/user-add' class="nav-link">
                  Nomor HP
                </a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink='/user-add' class="nav-link">
                  Link
                </a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink='/user-add' class="nav-link">
                  Video
                </a>
              </li>            
            </ul>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/sms' class="nav-link">
                <i class="ni ni-email-83 text-info"></i>
                SMS
            </a>
          </li>
          <li class="nav-item nav-with-child">
            <a class="nav-link"  >
              <i class="ni ni-book-bookmark text-primary"></i> Report
            </a>
            <ul class="nav-item-child">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/user-add'>
                Export Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/user-add'>
                Penilaian
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/user-add'>
                Tingkat Kepuasan
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/ebook' class="nav-link">
                <i class="ni ni-collection text-success"></i>
                E-Book
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/license' class="nav-link">
                <i class="ni ni-paper-diploma text-info"></i>
                License
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/notif' class="nav-link">
                <i class="ni ni-send text-orange"></i>
                Send Notif
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
