<div class="header bg-gradient-teal pb-8 pt-5 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark text-light mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Submit</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{open}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Approved</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{received}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">On Process</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{onprocess}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Close</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{close}}</span>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Total</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <!-- <i class="fas fa-archive-2"></i> -->
                  <span class="h2 font-weight-bold text-light mb-0">{{collectionSize}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <li class="nav-item" ngbDropdown placement="bottom-left">
          <a class="nav-link" role="button" ngbDropdownToggle>
            <i class="fa fa-bars text-dark"></i>
          </a>
          <div class="dropdown-menu-arrow bg-gradient-dark dropdown-menu-left col-lg-4" ngbDropdownMenu>
          <div class="card card-stats bg-gradient-dark text-light px-2 py-2">
            <form [formGroup]="formFilter1" >
            <h5 class="text-light">Region</h5>
            <div class="form-check" *ngFor="let regi of region">
              <input class="form-check-input" type="checkbox" value="{{regi.id | number}}" (change)="checkRegion($event)">
              <label class="form-check-label" for="flexCheckDefault">{{regi.region_name}}</label>
            </div>
            </form>
            <div class="dropdown-divider"></div>
            <form [formGroup]="formFilter2" >
            <h5 class="text-light">Kategori</h5>
            <div class="form-check" *ngFor="let kate of kategori">
              <input class="form-check-input" type="checkbox" value="{{kate.idsubkategori | number}}" id="flexCheckDefault" (change)="checkKategori($event)">
              <label class="form-check-label" for="flexCheckDefault">{{kate.sub_kategori}}</label>
            </div>
            </form>
          </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
<!-- maps -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map-canvas" class="map-canvas" data-lat="0.7893" data-lng="113.9213" style="height: 600px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- maps end -->