<div class="header bg-gradient-teal pb-8 pt-5 pt-md-6">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark text-light mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Open</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{open}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Received</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{received}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">On Process</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{onprocess}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Close</h5>
                  <span class="h2 font-weight-bold text-light mb-0">{{close}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats bg-gradient-dark mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-light mb-0">Total</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <!-- <i class="fas fa-archive-2"></i> -->
                  <span class="h2 font-weight-bold text-light mb-0">{{collectionSize}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- maps -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map-canvas" class="map-canvas" data-lat="0.7893" data-lng="113.9213" style="height: 600px;"></div>
      </div>
    </div>
  </div>
</div>
<!-- maps end -->