<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-gradient-darker">
  <div class="row">
    <div class="col-12">
      <div class="card shadow border border-dark mx--4">
        <div class="card-header bg-dark text-light py-2">
          <div class="row">
            <h3 class="mb-0 text-light px-4">Filter Chart</h3>
          </div>         
        </div>
        <div class="card-body py-2 bg-light">
          <div id="map"></div>
        <div class="row">
          <div class="col-12 col-lg-3 px-2 py-2">
            <select class="form-select form-control">
              <option value="0" selected>Semua Position</option>
              <option value="1">POLDA 1</option>
              <option value="2">POLDA 2</option>
            </select>
          </div>          
          <div class="col-12 col-lg-3 px-2 py-2">
            <select class="form-select form-control">
              <option value="0" selected>Bulan</option>
              <option value="1">Januari</option>
              <option value="2">Februari</option>
              <option value="3">Maret</option>
              <option value="4">April</option>
              <option value="5">Mei</option>
              <option value="6">Juni</option>
              <option value="7">Juli</option>
              <option value="8">Agustus</option>
              <option value="9">September</option>
              <option value="10">Oktober</option>
              <option value="11">November</option>
              <option value="12">Desember</option>
          
            </select>
          </div>          
          <div class="col-12 col-lg-3 px-2 py-2">
            <select class="form-select input-border-dark form-control">
              <option value="0" selected>Tahun</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
            </select>
          </div>  
          <div class="col-12 col-lg-3 px-2 py-2">
            <button class="btn btn-primary btn-block">Go</button>
          </div>
        </div>        
        </div>        
      </div>
  </div>
  </div>

  <!-- Chart -->

  <div class="row mt-3">
    <div class="col-12">
      <div class="card shadow border border-dark mx--4">
        <div class="card-header bg-dark text-light py-2">
          <div class="row">
            <h3 class="mb-0 text-light px-4">Grafik Semua Bulan - 2022</h3>
          </div>         
        </div>
        <div class="card-body bg-light">
          <div class="card border border-danger bg-white">
            <h1 class="text-center mt-2">SEMUA</h1>
            <div class="card-body bg-white">
              <div id="chartdiv" style="width: 100%; height: 500px"></div>
            </div>
          </div>              
        </div>        
        <div class="card-body bg-light">
          <div class="card border border-danger bg-white">
            <h1 class="text-center mt-2">1</h1>
            <div class="card-body bg-white">
              <div id="pie1" style="width: 100%; height: 500px"></div>
            </div>
          </div>              
        </div>                   
        <div class="card-body bg-light">
          <div class="card border border-danger bg-white">
            <h1 class="text-center mt-2">2</h1>
            <div class="card-body bg-white">
              <div id="pie2" style="width: 100%; height: 500px"></div>
            </div>
          </div>              
        </div>                             
      </div>
    </div>
  </div>
</div>